.wrapper {
  min-height: 500px;
  border-radius: 15px;
  padding: 30px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  backdrop-filter: blur(2px) saturate(100%);
  -webkit-backdrop-filter: blur(30px) saturate(100%);
  background-color: rgba(229, 233, 240, 0.603);

  .info {
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 30px;
    margin-top: 10px;
  }

  h1 {
    color: rgb(78, 72, 72);
    font-size: 45px;
  }
  h3,
  h2,
  p {
    color: rgb(107, 95, 27);
  }


}
